<h1>Create your new tasks here !</h1>

<%= form_for(@task) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <%= f.submit "Create Task !"%>
<% end %>
<br>
<button><%= link_to "Cancel", tasks_path %></button>
